<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <h5 class="support-requests__title">News</h5>
    <app-settings-menu></app-settings-menu>
  </mat-card-title>

  <mat-card-content class="support-requests__content">
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplay.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="example-element-diagram">
              <!-- <div class="example-element-position">{{ element.category }}</div> -->
              <img src="{{ element.image }}" alt="" />
            </div>
            <div class="example-element-description">
              {{ element.description }}
              <span class="example-element-description-attribution">
                -- {{ element.source }}
              </span>
            </div>
            <div class="example-element-description">
              published at
              <span class="example-element-description-attribution">
                -- {{ element.published_at }}
              </span>
            </div>
            <div class="example-button-container">
              <a href="{{ element.url }}">
                <button
                  mat-fab
                  color="primary"
                  aria-label="Example icon button with a delete icon"
                >
                  <mat-icon>read_more</mat-icon>
                </button></a
              >
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </mat-card-content>
  <div class="pagination">
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</mat-card>
