<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Claims</h1>
  </mat-toolbar>

  <div class="tables-wrapper">
    <div class="charts-content__charts-wrapper">
      <mat-card class="charts-content__chart-item">
        <mat-card-title>
          <p>Apex Dashed Line Chart</p>
        </mat-card-title>
        <app-bar-chart></app-bar-chart>
      </mat-card>

      <div class="chart">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>

    <app-table-claim></app-table-claim>
  </div>

  <app-footer></app-footer>
</app-layout>
