@import "src/app/styles/colors";
@import "src/app/styles/font";

.form {
  width: 100%;

  &__input {
    width: 100%;
    margin-top: 10px;
  }
}

.form-actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__login {
    margin-right: 10px;
    &:hover {
     
      animation: circleAn 1.5s infinite;
    }
  }

  &__forget {
    font-size: 12px;
    font-weight: $fw-lighter;
    color: $blue;
  }
}
@keyframes circleAn {
  0% {
    box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.6),
      0px 0px 0px 0px rgba(241, 108, 105, 1),
      0px 0px 0px 0px rgba(241, 108, 105, 0.7),
      0px 0px 0px 0px rgba(241, 108, 105, 0.5);
  }
  100% {
    box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.6),
      0px 0px 0px 10px rgba(241, 108, 105, 0),
      0px 0px 0px 20px rgba(241, 108, 105, 0),
      0px 0px 0px 30px rgba(241, 108, 105, 0);
  }
}
