<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Calender</h1>
  </mat-toolbar>

  <div class="tables-wrapper">
    <app-calender></app-calender>
  </div>

  <app-footer></app-footer>
</app-layout>
