.mobile {
  width: 375px;
  height: 667px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 1px 24px 0 rgba(100, 100, 100, 0.1);
  -moz-box-shadow: 0 1px 24px 0 rgba(100, 100, 100, 0.1);
  box-shadow: 0 1px 24px 0 rgba(100, 100, 100, 0.1);
}
.mobile > svg {
  position: absolute;
  top: 0;
  left: 0;
}
.mobile .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mobile .content .change-convertor {
  position: absolute;
  cursor: pointer;
  width: 33px;
  height: 33px;
  right: 50px;
  top: 345px;
  background-color: #ffffff;
  border-radius: 100%;
  transform: rotate(-70deg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
  -webkit-box-shadow: 0 1px 24px 0 rgba(100, 100, 100, 0.1);
  -moz-box-shadow: 0 1px 24px 0 rgba(100, 100, 100, 0.1);
  box-shadow: 0 1px 24px 0 rgba(100, 100, 100, 0.1);
}
.mobile .content .change-convertor .lnr {
  font-weight: bold;
  line-height: inherit;
  font-size: 14px;
}
.mobile .content .change-convertor:hover .lnr {
  color: #e82dd9;
}
.mobile .content .menu-bar {
  max-width: calc(100% - 30px);
  height: 50px;
  margin: 15px;
}
.mobile .content .menu-bar .menu-icon {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  border-top: solid 2px #ffffff;
  transition: all ease-in-out 0.2s;
  opacity: 1;
}
.mobile .content .menu-bar .menu-icon:before,
.mobile .content .menu-bar .menu-icon:after {
  position: absolute;
  content: " ";
  width: 17px;
  height: 2px;
  top: 4px;
  left: 4px;
  opacity: 1;
  background-color: #ffffff;
}
.mobile .content .menu-bar .menu-icon:after {
  width: 9px;
  height: 2px;
  top: 10px;
  left: 8px;
}
.mobile .content .menu-bar .menu-icon:hover {
  border-top-color: #e82dd9;
}
.mobile .content .menu-bar .menu-icon:hover:before,
.mobile .content .menu-bar .menu-icon:hover:after {
  background-color: #e82dd9;
}
.mobile .content .convert-value {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}
.mobile .content .convert-value input {
  width: 40%;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: solid 0.09em #ffffff;
  outline: none;
  padding: 10px 0px;
  font-size: 2.3em;
  font-weight: 300;
  color: #ffffff;
}
.mobile .content .convert-value .selected-currency {
  width: 40%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile .content .convert-value .selected-currency span {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 300;
  padding: 1px 15px;
  border: solid 0.07em #ffffff;
  border-radius: 25px;
}
.mobile .content .convert-value.convert-to {
  position: absolute;
  bottom: 100px;
}
.mobile .content .convert-value.convert-to input {
  color: #333;
  border-bottom-color: #333;
}
.mobile .content .convert-value.convert-to span {
  color: #333;
  border-color: #333;
}
.mobile .content .currency-list {
  position: absolute;
  top: 100px;
  right: -65px;
}
.mobile .content .currency-list svg {
  height: 260px;
  width: 260px;
}
.mobile .content .currency-list textPath {
  font-size: 16px;
  font-weight: 300;
  fill: #ffffff;
  opacity: 0.35;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}
.mobile .content .currency-list textPath.selected,
.mobile .content .currency-list textPath:hover {
  opacity: 1;
}
.mobile .content .from,
.mobile .content .to {
  position: relative;
  height: 45%;
}
.mobile .content .to .currency-list {
  left: -100px;
  top: -185px;
  right: inherit;
}
.mobile .content .to .currency-list textPath {
  fill: #333;
}
