<div class="mobile">
  <svg width="375" height="450">
    <defs>
      <linearGradient
        id="grad1"
        x1="0%"
        y1="0%"
        x2="100%"
        y2="0%"
        gradientTransform="rotate(-45)"
      >
        <stop offset="0%" style="stop-color: #c2acff; stop-opacity: 1" />
        <stop offset="100%" style="stop-color: #888fff; stop-opacity: 1" />
      </linearGradient>

      <filter id="f3" x="0" y="0" width="100%" height="110%">
        <feOffset in="offsetblur" dx="2" dy="2" />
        <feGaussianBlur result="offsetblur" in="offOut" stdDeviation="15" />
        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
      </filter>
    </defs>
    <path
      class="top_bg"
      d="M0,0 L375,0 L375,400 L0,270 Z"
      fill="url(#grad1)"
      filter="url(#f3)"
    ></path>
  </svg>

  <div class="content">
    <div class="menu-bar">
      <span class="menu-icon"></span>
    </div>

    <div class="from">
      <div class="convert-value">
        <input type="text" value="25000" />
        <div class="selected-currency">
          <span>INR</span>
        </div>
      </div>
      <div class="currency-list">
        <svg>
          <path id="arc1" fill="none" stroke-width="0" />
          <path id="arc2" fill="none" stroke-width="0" />
          <path id="arc3" fill="none" stroke-width="0" />
          <path id="arc4" fill="none" stroke-width="0" />
          <text>
            <textPath xlink:href="#arc1">USD</textPath>
          </text>
          <text>
            <textPath xlink:href="#arc2" class="selected">INR</textPath>
          </text>
          <text>
            <textPath xlink:href="#arc3">RIYAL</textPath>
          </text>
          <text>
            <textPath xlink:href="#arc4">RENMINBI</textPath>
          </text>
        </svg>
      </div>
    </div>

    <div class="to">
      <div class="convert-value convert-to">
        <input type="text" value="357.44" />
        <div class="selected-currency">
          <span>EUR</span>
        </div>
      </div>
      <div class="currency-list">
        <svg>
          <path id="arc5" fill="none" stroke-width="0" />
          <path id="arc6" fill="none" stroke-width="0" />
          <path id="arc7" fill="none" stroke-width="0" />
          <path id="arc8" fill="none" stroke-width="0" />
          <text>
            <textPath xlink:href="#arc5">USD</textPath>
          </text>
          <text>
            <textPath xlink:href="#arc6" class="selected">EUR</textPath>
          </text>
          <text>
            <textPath xlink:href="#arc7">DINAR</textPath>
          </text>
          <text>
            <textPath xlink:href="#arc8" (click)="clicked()">POUND</textPath>
          </text>
        </svg>
      </div>
    </div>

    <div class="btn change-convertor">
      <span class="lnr lnr-chevron-left"></span>
      <span class="lnr lnr-chevron-right"></span>
    </div>
  </div>
</div>
