<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <!-- <mat-tab-group class="auth-page__group">
        <mat-tab label="Login"> -->
          <h4 class="auth-page__group-title">Good Morning, User</h4>
          <!-- <div class="auth-page__google-button-wrapper">
            <button mat-raised-button class="auth-page__google-button">
              <img
                class="auth-page__google-button-icon"
                src="./assets/auth/google.svg"
                alt="google"
              />Sign in with Google
            </button>
          </div> -->

          <div class="auth-page__border-wrapper">
            <div class="auth-page__border-line"></div>
            <p class="auth-page__border-title">*****</p>
            <div class="auth-page__border-line"></div>
          </div>

          <app-login-form></app-login-form>
        <!-- </mat-tab> -->
        <!-- <mat-tab label="New User">
          <h4 class="auth-page__group-title">Welcome!</h4>
          <p class="auth-page__group-sub-title">Create you account</p>

          <app-sign-form></app-sign-form>

          <div class="auth-page__border-wrapper">
            <div class="auth-page__border-line"></div>
            <p class="auth-page__border-title">or</p>
            <div class="auth-page__border-line"></div>
          </div>

          <div class="auth-page__google-button-wrapper">
            <button mat-raised-button class="auth-page__google-button">
              <img
                class="auth-page__google-button-icon"
                src="./assets/auth/google.svg"
                alt="google"
              />Sign in with Google
            </button>
          </div>
        </mat-tab> -->
      <!-- </mat-tab-group> -->

      <p class="auth-page__footer-title">
        © 2021-{{ todayDate | year }}
        Be Tounsi , Buy Tounsi
      </p>
    </div>
  </div>
  <div class="auth-page__logo">
    <app-login-welcome></app-login-welcome>
  </div>
</div>
