<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <div class="auth-page__group">
      
          <h4 class="auth-page__group-title">Good Morning, User</h4>
         

          <div class="auth-page__border-wrapper">
            <div class="auth-page__border-line"></div>
            <p class="auth-page__border-title">*****</p>
            <div class="auth-page__border-line"></div>
          </div>

          <app-login-form></app-login-form>
       
       
      </div>

      <p class="auth-page__footer-title">
        © 2021-{{ todayDate | year }}
        Be Tounsi , Buy Tounsi
      </p>
    </div>
  </div>
  <div >
    <app-login-welcome></app-login-welcome>
  </div>
</div>
