.tables-wrapper {
  display: flex;
  align-self: center;
  /* position: relative;
  left: 70px;*/
}

.lool {
  left: 70px;
}

.NN {
  position: absolute;
  top: 190px;
  left: 500px;
}
.NP {
  color: #b9b9b9;
}

#right {
  text-align: right;
}
.form {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80vw;
  margin: 20px;
}
.formconfig {
  padding: 50px;
}
.buttons {
  position: absolute;
  bottom: -60%;
  right: 22%;
}
