<app-layout>
    <mat-toolbar class="page-header" role="heading">
      <h1>Managers</h1>
    </mat-toolbar>
  
    <div class="tables-wrapper">
      <app-managers-table></app-managers-table>
    </div>
  
    <app-footer></app-footer>
  </app-layout>