<mat-list>
  <mat-list-item routerLink="{{ routes.DASHBOARD }}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.TABLES }}" routerLinkActive="active">
    <mat-icon>calendar_today</mat-icon> Calender
  </mat-list-item>
  <mat-list-item
    routerLink="{{ routes.NOTIFICATION }}"
    routerLinkActive="active"
  >
    <mat-icon>error</mat-icon> Claim
  </mat-list-item>

  <mat-list>
    <mat-list-item><mat-icon>account_circle</mat-icon>Users</mat-list-item>

    <div>
      <mat-list-item
        class="ui-element"
        routerLink="{{ routes.UI_ELEMENTS_ICONS }}"
        routerLinkActive="active"
      >
        <div class="circle"></div>
        Clients
      </mat-list-item>
      <mat-list-item
        class="ui-element"
        routerLink="{{ routes.UI_ELEMENTS_CHARTS }}"
        routerLinkActive="active"
      >
        <div class="circle"></div>
        Delivery Man
      </mat-list-item>
      <mat-list-item
        class="ui-element"
        routerLink="{{ routes.UI_ELEMENTS_MAP }}"
        routerLinkActive="active"
      >
        <div class="circle"></div>
        Managers
      </mat-list-item>
    </div>
  </mat-list>
</mat-list>
