.tables-wrapper {
  display: flex;
  align-self: center;
  /*position: relative;
  left: 70px;

  padding: 0 8px;*/
}

.lool {
  left: 70px;
}
#right {
  text-align: right;
}

.form {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 60%;
}
.formconfig {
  padding: 30px;
}
