.mat-footer-row,
.mat-header-row,
.mat-header-cell,
.mat-row {
  display: inline-flex;
  min-width: 35%;
}
.mat-form-field {
  font-size: 13px;
  width: 35%;
}
.table {
  width: 35%;
}
.mat-elevation-z8 {
  width: 35%;
}
